@import '../web/css/bootstrap.min.css';

$block-bg: #fff;
$font-size: 14px;
$line-height: 22px;
$mobile-font-size-factor: 1.4;
$mobile-width: 640px;

#bever-zonder-hoogtevrees,
#bever-zonder-hoogtevrees input,
#bever-zonder-hoogtevrees *,
#bever-zonder-hoogtevrees .pure-g [class *= "pure-u"] {
  font: normal 300 $font-size / $line-height 'camingodos-web','Trebuchet MS',sans-serif;
  box-sizing: border-box;
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

/* Disable/remove when done */
@media only screen and (max-width: $mobile-width) {
  #wrapper {
    width: $mobile-width;
  }
}

body {
  overflow-x: hidden;
}

/* Content container (#content), outside of our area, is 960px wide. We assume 640px for mobile */

#bever-zonder-hoogtevrees {
  @include mobile {
    background: $block-bg;
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
    color: #efba28;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;

    @include mobile {
      font-size: 24px * $mobile-font-size-factor;
      line-height: 30px * $mobile-font-size-factor;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #525f6e;

    @include mobile {
      font-size: 24px * $mobile-font-size-factor;
      line-height: 30px * $mobile-font-size-factor;
    }
  }

  p {
    font-size: $font-size;
    line-height: $line-height;
    margin: 0 0 14px 0;

    @include mobile {
      font-size: $font-size * $mobile-font-size-factor;
      line-height: $line-height * $mobile-font-size-factor;
    }
  }

  .headerimage {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .intro {
    margin: 18px 0 0;
    font-size: 0;

    &__text {
      width: 476px;
      padding: 20px 63px 20px 20px;
      background: $block-bg;
      display: inline-block;
      vertical-align: top;

      @include mobile {
        width: auto;
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    &__photo {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;

      @include mobile {
        display: none;
        margin-left: 0;
      }

      &--mobile {
        display: none;

        @include mobile {
          display: block;
          width: 100%;
          height: auto;
        }

      }
    }

    &__drawing {
      position: relative;
      display: block;
      height: 278px;
      margin: 0 0 10px 0;

      @include mobile {
        margin: 0;
        width: 100%;
        height: auto;
      }
    }

    &__drawing-bg {
      position: absolute;
      top: -88px;
      height: 278px + 88px + 10px;
      width: 1000px;
      background-repeat: repeat-x;

      @include mobile {
        &--left, &--right {
          display: none;
        }
      }

      &--left {
        background-image: url('../web/img/drawing-bg-left.png');
        left: -1000px;
      }

      &--right {
        background-image: url('../web/img/drawing-bg-right.png');
        left: 100%;
      }
    }

    &__drawing-img {

      &--desktop {
        position: absolute;
        top: -88px;
        left: 0;

        @include mobile {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }
  }

  .textlayout {
    background: $block-bg;
    font-size: 0;
  }

  .content, .formcontainer {
    font-size: $font-size;

    @include mobile {
      font-size: $font-size * $mobile-font-size-factor;
    }
  }

  .content {
    padding: 0 90px 20px 20px;
    width: 480px;
    display: inline-block;
    vertical-align: top;

    @include mobile {
      padding-left: 50px;
      padding-right: 50px;
      width: 100%;

      // video should have a 100% width on mobile, we need to compensate for the container's padding
      &__video {
        margin-left: -50px;

        iframe {
          width: $mobile-width;
        }
      }
    }

    &__text {
      h1 {
        margin-top: 25px;
      }
    }
  }

  .formcontainer {
    padding: 20px 20px 20px 0;
    display: inline-block;
    vertical-align: top;
    width: 480px;

    @include mobile {
      padding: 40px;
      width: 500px;
    }

    .form-group {
      padding: 20px 0 0 0;
      margin: 0;

      &.infix,
      &.lastname {
        display: inline-block;
        vertical-align: top;
      }

      &.lastname label {
        margin-left: 8px;
      }

      label {
        display: block;
        padding: 0 0 5px 0;
        font-weight: bold;
        color: #444;
        margin-bottom: 2px;

        span {
          color: #aaaaaa;
          padding: 0 0 0 5px;
        }
      }

      input:focus {
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35);
      }

      .form__input--markcorrect {
        display: inline-block;
        position: relative;

        &::after {
          display: none;
          content: "";
          width: 2px;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          background: #059805;
        }

        .check-sign {
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
        }

        input[type="text"],
        input[type="email"] {
          padding-right: 27px;
        }
      }

      &.parsley-error,
      &.parsley-error:focus {
        input[type="text"],
        input[type="email"],
        textarea,
        select {
          border-color: #c00;
        }
      }

      &.parsley-success {
        .form__input--markcorrect::after,
        .form__input--markcorrect .check-sign {
          display: inline-block;;
        }

      }
    }

    .form {
      &__input {
        border-radius: 0;

        &--dob {
          width: 95px;
          display: inline-block;
          margin: 0 5px 0 0;
          border-radius: 0;
        }

        &--firstname,
        &--lastname {
          width: 197px;
        }

        &--infix {
          width: 95px;
        }

        &--lastname {
          margin: 0 0 0 7px;
        }

        &--email {
          width: 302px;
        }

        &--motivation {
          width: 395px;
          height: 97px;
        }

        &--cv {
          width: 300px;
        }

        &--employee-yes {
          margin: 0 5px 0 0;
        }

        &--employee-no {
          margin: 0 5px 0 10px;
        }
      }
    }
  }

  .form {
    &__label {
      &--inline {
        display: inline !important;
      }
    }

    &__input {
      border: 1px solid #ddd;
      position: relative;
    }

    &__result {
      display: none;

      &.visible {
        display: block;
      }

      &--success {
        color: #0a0;
      }

      &--error {
        color: #c00;
      }
    }

    &__filenamecontainer {
      margin: 0 0 0 20px;
      display: none;

      &.visible {
        display: inline-block;
      }
    }

    &__filename {
      position: relative;
      top: 2px;
      left: 2px;
    }
  }

  .parsley-errors-list {
    display: none;
  }

  .footer {
    display: block;
    position: relative;
    width: 960px;
    height: 294px;

    @include mobile {
      width: 100%;
      height: 535px;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;

      &--desktop {
        @include mobile {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }
  }

}
